<div id="a1" class="px-3 text-center">

  <h2 class="mb-4">Gifts for Her</h2>
  <p>That Will Bring Extra Holiday Cheer</p>

  <div class="d-flex justify-content-center align-items-center mt-5 flex-wrap">

    <div class="box mr-5 text-center mb-4">
      <div class="face-wrapper" [ngStyle]="{
      backgroundImage: 'url(' + 'https://assets.italic.com/cdn-cgi/image/w=236,q=90,f=auto/https://cdn.shopify.com/s/files/1/0019/6404/8495/collections/Web_Size_Featured_Crop-HO20_TheFinerThings_5x4_0637.jpg?v=1605117511' + ')'
      }"></div>
      <p class="mt-3">The Finer Things</p>
    </div>

    <div class="box mr-5 text-center mb-4">
      <div class="face-wrapper" [ngStyle]="{
      backgroundImage: 'url(' + 'https://assets.italic.com/cdn-cgi/image/w=236,q=90,f=auto/https://cdn.shopify.com/s/files/1/0019/6404/8495/collections/HO20_GettingWarmer_5x4_0056-1.jpg?v=1605118595' + ')'
      }"></div>
      <p class="mt-3">Getting Warmer</p>
    </div>

    <div class="box mr-5 text-center mb-4">
      <div class="face-wrapper" [ngStyle]="{
      backgroundImage: 'url(' + 'https://assets.italic.com/cdn-cgi/image/w=236,q=90,f=auto/https://cdn.shopify.com/s/files/1/0019/6404/8495/collections/HO20_GettingWarmer_5x4_0056-1.jpg?v=1605118595' + ')'
      }"></div>
      <p class="mt-3">Self-Care Starter</p>
    </div>

    <div class="box mr-5 text-center mb-4">
      <div class="face-wrapper" [ngStyle]="{
      backgroundImage: 'url(' + 'https://assets.italic.com/cdn-cgi/image/w=236,q=90,f=auto/https://cdn.shopify.com/s/files/1/0019/6404/8495/collections/HO20_CashmereShop_5x4_0163.jpg?v=1605119027' + ')'
      }"></div>
      <p class="mt-3">Cashmere Shop</p>
    </div>

  </div>

</div>

<div id="a2" class="p-4 p-lg-5">

  <div class="box">

    <div class="d-flex justify-content-between align-items-center mb-3">

      <h3 class="text-capitalize">sweaters</h3>
      <p>{{prop2?.sweaters.length}} items</p>

    </div>

    <div class="row">

      <div class="col-12 col-md-4 col-lg-3 mb-3" *ngFor="let a of prop2?.sweaters">

        <app-comp8 [prop1]="a" [ngStyle]="{cursor: 'pointer'}"></app-comp8>

      </div>

    </div>

  </div>

  <div class="box">

    <div class="d-flex justify-content-between align-items-center mb-3">

      <h3 class="text-capitalize">coats</h3>
      <p>{{prop2?.coats.length}} items</p>

    </div>

    <div class="row">

      <div class="col-12 col-md-4 col-lg-3 mb-3" *ngFor="let a of prop2?.coats">

        <app-comp8 [prop1]="a" [ngStyle]="{cursor: 'pointer'}"></app-comp8>

      </div>

    </div>

  </div>

  <div class="box">

    <div class="d-flex justify-content-between align-items-center mb-3">

      <h3 class="text-capitalize">pants</h3>
      <p>{{prop2?.pants.length}} items</p>

    </div>

    <div class="row">

      <div class="col-12 col-md-4 col-lg-3 mb-3" *ngFor="let a of prop2?.pants">

        <app-comp8 [prop1]="a" [ngStyle]="{cursor: 'pointer'}"></app-comp8>

      </div>

    </div>

  </div>

  <div class="box">

    <div class="d-flex justify-content-between align-items-center mb-3">

      <h3 class="text-capitalize">active-wear</h3>
      <p>{{prop2['active-wear'].length}} items</p>

    </div>

    <div class="row">

      <div class="col-12 col-md-4 col-lg-3 mb-3" *ngFor="let a of prop2['active-wear']">

        <app-comp8 [prop1]="a" [ngStyle]="{cursor: 'pointer'}"></app-comp8>

      </div>

    </div>

  </div>


</div>
