#a1 {
  background-color: #810e13;
  color: #e1cfc0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 4rem;
    line-height: initial;
  }

  & > p {
    font-size: 1.5rem;
  }

  .box {
    width: 8rem;

    .face-wrapper {
      background-position: center;
      background-size: cover;
      border-radius: 50%;
      width: 100%;
      height: 8rem;
    }
  }


}
