<mat-sidenav-container>

  <mat-sidenav #sidenav class="w-75">

    <div class="sidenav p-4 d-flex flex-column bg-white">

      <a [routerLink]="['/women-apparel']" class="text-capitalize text-decoration-none text-dark mb-3">women</a>
      <a [routerLink]="['/men-apparel']" class="text-capitalize text-decoration-none text-dark mb-3">men</a>
      <a [routerLink]="['/login']" class="text-capitalize text-decoration-none text-dark mb-3" *ngIf="!prop2.isauthenticated()">login</a>
      <a [routerLink]="['/signup']" class="text-capitalize text-decoration-none text-dark mb-3" *ngIf="!prop2.isauthenticated()">register</a>
      <p class="mb-0 text-dark mb-3" *ngIf="prop2.isauthenticated()">Welcome, {{prop4}}</p>
      <a class="text-capitalize text-decoration-none text-dark mb-3" [ngStyle]="{cursor: 'pointer'}" (click)="prop5()" *ngIf="prop2.isauthenticated()">logout</a>

    </div>

  </mat-sidenav>

  <mat-sidenav-content>

    <app-comp1 class="d-block" [prop1]="smallscreen" [prop2]="sidenav"></app-comp1>

    <router-outlet></router-outlet>

    <app-comp4 class="d-block"></app-comp4>

  </mat-sidenav-content>

</mat-sidenav-container>
