<div class="container-fluid p-4 p-lg-5">

  <div class="row">
    <div class="col-12 col-md-6 col-lg-3 col-xl-2 mb-4">

      <h3 class="text-capitalize mb-4">social</h3>

      <div class="box d-flex align-items-center mb-3">
        <i class="fab fa-instagram"></i>
        <p class="mb-0 ml-3">Instagram</p>
      </div>

      <div class="box d-flex align-items-center mb-3">
        <i class="fab fa-twitter"></i>
        <p class="mb-0 ml-3">Twitter</p>
      </div>

      <div class="box d-flex align-items-center mb-3">
        <i class="fab fa-facebook-f"></i>
        <p class="mb-0 ml-3">Facebook</p>
      </div>

      <div class="box d-flex align-items-center mb-3">
        <i class="fab fa-youtube"></i>
        <p class="mb-0 ml-3">Youtube</p>
      </div>

      <div class="box d-flex align-items-center mb-3">
        <i class="fab fa-pinterest"></i>
        <p class="mb-0 ml-3">Pinterest</p>
      </div>

    </div>

    <div class="col-12 col-md-6 col-lg-3 col-xl-2 mb-4">

      <h3 class="text-capitalize mb-4">company</h3>

      <p class="mb-3 text-capitalize">about us</p>
      <p class="mb-3 text-capitalize">careers</p>
      <p class="mb-3 text-capitalize">blog</p>

    </div>

    <div class="col-12 col-md-6 col-lg-3 col-xl-2 mb-4">

      <h3 class="text-capitalize mb-4">support</h3>

      <p class="mb-3 text-capitalize">contact us</p>
      <p class="mb-3 text-capitalize">help center</p>
      <p class="mb-3 text-capitalize">request a product</p>

    </div>

    <div class="col-12 col-md-6 col-lg-3 col-xl-2 mb-4">

      <h3 class="text-capitalize mb-4">Business</h3>

      <p class="mb-3 text-capitalize">become a supplier</p>
      <p class="mb-3 text-capitalize">affiliats</p>
      <p class="mb-3 text-capitalize">partnerships</p>

    </div>

    <div class="col-12 col-md-6 col-lg-3 col-xl-4 mb-4">

      <h3 class="text-capitalize mb-4">subscribe</h3>
      <p class="mb-3">Updates you’ll want to know about—new products, stories, and events. No logos, no spam. Unsubscribe anytime.</p>
      <div>

        <div class="custom-input d-flex align-items-center rounded">
          <input type="text" name="email" class="form-control" placeholder="your email address">
          <button type="submit" class="text-capitalize btn btn-dark rounded-0">subscribe</button>
        </div>

      </div>

    </div>

  </div>

  <div></div>

</div>
